<div *ngIf="university" class="modal fade show" id="modifyUniversityModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyUniversityModal">Modifier l'Université</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateUniversity()">
          <div class="mb-3">
            <label class="form-label">Nom de l'Université</label>
            <input type="text" id="university" class="form-control" [(ngModel)]="university.name_fr" name="name_fr" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Nom de l'Université</label>
            <input type="text" id="university" class="form-control" [(ngModel)]="university.name_ar" name="name_ar" required>
          </div>
          <button type="submit" class="btn btn-success" >Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
