<app-ajouter-academic-stage (academicStageAdded)="loadAcademicStages()"></app-ajouter-academic-stage>
<div class="containere1">
  <h2>Liste des Stages Académiques</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Collège</th>
          <th>Institut</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stage of academicStages">
          <td>{{ stage.name }}</td>
          <td>{{ stage.collegeName }}</td>
          <td>{{ stage.instituteName }}</td>
          <td>
            <button class="btn btn-warning btn-sm mr-4" (click)="openModal(stage)" data-bs-toggle="modal" data-bs-target="#modifyAcademicStageModal">
              Modifier
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteAcademicStage(stage.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<app-modifier-academic-stage
  *ngIf="selectedAcademicStage"
  [academicStage]="selectedAcademicStage"
  (academicStageUpdated)="onAcademicStageUpdated()"
></app-modifier-academic-stage>