<app-ajouter-institut (instituteAdded)="loadInstitutes()"></app-ajouter-institut>

<div class="containere1">
  <h2>Liste des Instituts</h2>

  <!-- Champ de recherche pour filtrer par nom_fr -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control w-50 mb-3 mt-2"
      placeholder="Rechercher par nom en français..."
      [(ngModel)]="searchTerm"  
    />
  </div>

  <div class="table-responsive">
    <table class="table table-bordered ">
      <thead class="thead-dark">
        <tr>
          <th>Nom Fr</th>
          <th>Nom Ar</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let institute of filteredInstitutes">
          <td>{{ institute.name_fr }}</td>
          <td>{{ institute.name_ar }}</td>
          <td>
            <button class="btn btn-warning btn-sm mr-4" (click)="openModal(institute)" data-bs-toggle="modal" data-bs-target="#editInstitutModal">
              Modifier
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteInstitut(institute.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modifier-institut *ngIf="selectedInstitut" [institute]="selectedInstitut" (instituteUpdated)="onInstitutUpdated()"></app-modifier-institut>
