.containere1{
    width: 100%;
    /* background-color: aqua; */
    height: 72vh;  
    padding:20px 20px 0 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.containere1::-webkit-scrollbar {
    width: 1px;
}
.containere1::-webkit-scrollbar-thumb {
    background-color: #fff;
}
.containere1::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
th {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #fff;
    background-color: black;
}
.containere1{
    overflow-y: scroll;
}
.subscription-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.subscription-container input[type="number"] {
    width: 250px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 12px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.subscription-container input[type="number"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    outline: none;
}

.subscription-container input[type="submit"] {
    height: 45px;
    font-size: 16px;
    border-radius: 8px;
    padding: 0 20px;
}
