<app-ajouter-college (collegeAdded)="loadColleges()"></app-ajouter-college>

<div class="containere1">
  <h2>Liste des Collèges</h2>

  <!-- Champ de recherche pour filtrer par nom_fr -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control w-50 mb-3 mt-2"
      placeholder="Rechercher par nom en français..."
      [(ngModel)]="searchTerm" 
    />
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nom Fr</th>
          <th>Nom Ar</th>
          <th>Nom University</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let college of filteredColleges">
          <td>{{ college.name_fr }}</td>
          <td>{{ college.name_ar }}</td>
          <td>{{ college.universityName_fr }}</td>
          <td>
            <button class="btn btn-warning btn-sm mr-4" (click)="openModal(college)" data-bs-toggle="modal" data-bs-target="#editCollegeModal">
              Modifier
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCollege(college.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modifier-college *ngIf="selectedCollege" [college]="selectedCollege" (collegeUpdated)="onCollegeUpdated()"></app-modifier-college>
