<div class="width_">
    <div *ngIf="showLayout">
        <div class="navbare">
        <div class="logo">ArcHivi</div>
        <div class="elements" [ngClass]="{'expanded': showSubjects}">
            <a routerLink="/home" class="university" (click)="setActive($event, 'home')" [ngClass]="{'active': isActive('home')}">Home</a>
            <a routerLink="/university" class="university" (click)="toggleCollege($event); setActive($event, 'university')" [ngClass]="{'active': isActive('university')}">University</a>
            <a routerLink="/college" class="college" *ngIf="showCollege"(click)="setActive($event, 'college')" [ngClass]="{'active': isActive('college')}">Faculter</a>
            <a routerLink="/institut" class="university" (click)="setActive($event, 'institut')" [ngClass]="{'active': isActive('institut')}">Institut</a>
            <a routerLink="/semestre" class="university" (click)="setActive($event, 'semestre')" [ngClass]="{'active': isActive('semestre')}">Semestre</a>
            <a routerLink="/subject" class="university" (click)="toggleSubjects($event); setActive($event, 'subject')" [ngClass]="{'active': isActive('subject')}">Subject</a>
            <a routerLink="/td" class="college" *ngIf="showSubjects" (click)="setActive($event, 'td')" [ngClass]="{'active': isActive('td')}">TD</a>
            <a routerLink="/tp" class="college" *ngIf="showSubjects" (click)="setActive($event, 'tp')" [ngClass]="{'active': isActive('tp')}">TP</a>
            <a routerLink="/devoire" class="university" (click)="setActive($event, 'devoire')" [ngClass]="{'active': isActive('devoire')}">Devoire</a>
            <a routerLink="/examen" class="university" (click)="setActive($event, 'examen')" [ngClass]="{'active': isActive('examen')}">Examen</a>
            <a routerLink="/lesson" class="university" (click)="setActive($event, 'lesson')" [ngClass]="{'active': isActive('lesson')}">Lesson</a>
            <a routerLink="/academic" class="university" (click)="setActive($event, 'academic')" [ngClass]="{'active': isActive('academic')}">Academic</a>
            <a routerLink="/specialisation" class="university" (click)="setActive($event, 'specialization')" [ngClass]="{'active': isActive('specialization')}">Specialité</a>
            <a href="javascript:void(0);" (click)="logout()" class="logout"><i class="bi bi-box-arrow-right"></i></a>
        </div>
    </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
