<div class="containere">
    <div *ngIf="showLayout" class="navbare">
        <div class="logo">CouRati</div>
        <div class="elements">
            <div class="university" routerLink="/universi">University</div>
            <div class="institut">Institut</div>
            <div class="college">College</div>
            <div class="academic">Academic</div>
            <div class="subject">Subject</div>
            <div class="specialisation">Specialisation</div>
            <div class="semestre">Semestre</div>
            <div class="lesson">Lesson</div>
            <div class="devoire">Devoire</div>
            <div class="examen">Examen</div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
