<div class="modal fade" id="modifyInstitutModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modifier l'Institut</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="onUpdate()">
          <div class="mb-3">
            <label for="name_fr" class="form-label">Nom de l'Institut (Fr)</label>
            <input type="text" id="name_fr" class="form-control" [(ngModel)]="institute.name_fr" name="name_fr" required>
          </div>
          <div class="mb-3">
            <label for="name_ar" class="form-label">Nom de l'Institut (Fr)</label>
            <input type="text" id="name_ar" class="form-control" [(ngModel)]="institute.name_ar" name="name_ar" required>
          </div>
          <button type="submit" class="btn btn-success">Modifier</button>
        </form>
      </div>
    </div>
  </div>
</div>
