<app-ajouter-subject (subjectAdded)="loadSubjects()"></app-ajouter-subject>

<div class="containere1">
  <h2>Liste des Matières</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Spécialisation</th>
          <th>College</th>
          <th>Institutes</th>
          <th>Semestre</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td>{{ subject.name }}</td>
          <td>{{ subject.specialisationName }}</td>
          <td>{{ subject.collegeName }}</td>
          <td>{{ subject.instituteName }}</td>
          <td>{{ subject.semesterNumber }}</td>
          <td>
            <button class="btn btn-warning btn-sm mr-4" (click)="openModal(subject)" data-bs-toggle="modal" data-bs-target="#modifySubjectModal">
              Modifier
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteSubject(subject.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modifier-subject 
  *ngIf="selectedSubject" 
  [subject]="selectedSubject" 
  (subjectUpdated)="onSubjectUpdated()">
</app-modifier-subject>
