<ajouter-tp (tpAdded)="loadTps()"></ajouter-tp>

<div class="containere1">
  <h2>Liste des TPs</h2>

  <!-- Champ de recherche -->
  <div class="mb-3">
    <input
      type="text"
      class="form-control w-50 mb-3 mt-2"
      placeholder="Rechercher par titre ou matière..."
      [(ngModel)]="searchTerm"
    />
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Titre</th>
          <th>Contenu</th>
          <th>Matière</th>
          <th>Année</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tp of filteredTps">
          <td>{{ tp.title }}</td>
          <td>
            <a [href]="getFichierUrl(tp.content)" target="_blank">
              Ouvrir le fichier
            </a>
          </td>
          <td>{{ tp.subjectName }}</td>
          <td>{{ tp.year }}</td>
          <td>
            <button
              class="btn btn-warning btn-sm mr-4"
              (click)="openModal(tp)"
              data-bs-toggle="modal"
              data-bs-target="#editTpModal"
            >
              Modifier
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteTp(tp.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<modifier-tp
  *ngIf="selectedTp"
  [tp]="selectedTp"
  (tpUpdated)="onTpUpdated()"
></modifier-tp>
