<div class="modal fade" id="modifySemestreModal" tabindex="-1" aria-labelledby="modalSemestreTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSemestreTitle">Modifier le Semestre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="onUpdate()">
          <div class="mb-3">
            <label for="semestreName" class="form-label">Nom du Semestre</label>
            <input
              type="number"
              id="semesterNumber"
              class="form-control"
              [(ngModel)]="semestre.semesterNumber"
              name="semesterNumber"
              required
              min="1"
            />
          </div>

          <div class="mb-3">
            <label for="academicStage" class="form-label">Stage Académique</label>
            <ng-select
              id="academicStage"
              class="form-control"
              [items]="academicStages"
              bindLabel="name"
              bindValue="id"
              [(ngModel)]="semestre.academicStageId"
              name="academicStageId"
              placeholder="Sélectionnez un stage académique"
              required>
              <ng-option [value]="null">Aucun</ng-option>
            </ng-select>
          </div>
          <button type="submit" class="btn btn-success">Modifier</button>
        </form>
      </div>
    </div>
  </div>
</div>
