<div class="modal fade" id="modifySpecialisationModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modifier la Spécialisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpdate()">
          <div class="mb-3">
            <label for="name" class="form-label">Nom de la Spécialisation</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="specialisation.name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="college" class="form-label">Collège</label>
            <ng-select 
              id="college"
              class="form-control"
              [items]="colleges"
              bindLabel="name"
              bindValue="id"
              [(ngModel)]="specialisation.collegeId"
              name="collegeId"
              placeholder="Sélectionnez un collège"
              required>
              <ng-option [value]="null">Aucun</ng-option>
            </ng-select>
          </div>
          
          <div class="mb-3">
            <label for="institute" class="form-label">Institut</label>
            <ng-select 
              id="institute"
              class="form-control"
              [items]="institutes"
              bindLabel="name"
              bindValue="id"
              [(ngModel)]="specialisation.instituteId"
              name="instituteId"
              placeholder="Sélectionnez un institut"
              required>
              <ng-option [value]="null">Aucun</ng-option>
            </ng-select>
          </div>
          
          <button type="submit" class="btn btn-success">Modifier</button>
        </form>
      </div>
    </div>
  </div>
</div>
